.first-section {
    box-sizing: border-box;
    justify-content: center;
    width: 400px;
    margin: 5rem auto;
}

.first {
    background-color: #fff;
    border-radius: 16px;
}

@media screen and (max-width: 480px) {
    .first {     
        margin-left: 10px;
        margin-right: 10px;
    }

    
}