.sub-fourth {
    margin-left: $main-margin;
    margin-right: $main-margin;
    font-weight: 400;
    line-height: 1.5;
    color: $third-color;
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 0.5rem;
    font-size: 14px;

    &:hover {
        background-color:  rgba(0, 0, 0, 0.03);
    }
}

.icon {
    text-decoration: none;
    color: $first-color;
    padding-right: 15px;
    padding-top: 5px;
}

.text {
    color: rgb(33, 37, 41);
}

a {
    text-decoration: none;
}
