.third {
    margin-bottom: 2.5rem;
}

.sign-header {
    color: $first-color;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-left: $main-margin;
}

.sign-paragraph {
    color: $second-color;
    margin-left: $main-margin;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
}